//? variables background:
$black: #2c2c2c;
$gray: #5e5e5e;
$red: #de0f0f;

//? variables color text:


//? shodow:
$shadow: #000;
$alpha: .3;

//? header:
$background-header: #F06837;
$colorText-header: #fff;
$colorText2-header: #000;
$shodow-header: 0 0 10px rgba(0, 0, 0, .25);

$width-header: 100vw;
$height-header: 60px;

//? component:
$background: #fff;
$percScontBG: rgb(237, 58, 52);
$sostenBG: rgb(57, 130, 29);
$text1: #fff;
$text2:  rgb(237, 58, 52);

$width: 100vw;

//? footer:
$background: rgb(26, 26, 26);
$borderTop: rgb(237, 58, 52);
$colorText: #fff;

$height: 100px;
$width: 100vw;
